$color-dark: #262626;
$color-black: #000;
$color-white: #fff;
$color-primary: #d3ab55;
$color-secondary: #bbb;

$font-dancingScript: "Dancing Script", cursive;
$font-josefinSans: "Josefin Sans", sans-serif;
$font-nunito: "Nunito", sans-serif;

@mixin flexLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textStyles($transform: uppercase) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: $transform;
}
