@use "base" as *;

.navbar {
    position: relative;
    z-index: 20;

    &-navigation {
        display: flex;

        &-left {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            position: fixed;
            // left: 0;
            left: -50vw;
            transition: left .8s cubic-bezier(1,0,0,1); // allow us to make custom transition

            @media(max-width: 800px){
                display: none;
            }

            .left-img {
                width: 50%;
                position: absolute;
                box-shadow: 0 15px 60px rgba($color-black, .4);
                opacity: .7;
                border-radius: 10px;

                @media(max-width: 1300px){
                    width: 55%;
                }

                @media(max-width: 1000px){
                    width: 65%;
                }
            }

            .left-img-1{
                top: 15%;
                left: 15%;

                @media(max-width: 1000px){
                    left: 5%;
                }
            }

            .left-img-2{
                top: 35%;
                left: 25%;

                @media(max-width: 1000px){
                    left: 15%;
                }
            }

            .left-img-3{
                top: 55%;
                left: 35%;

                @media(max-width: 1000px){
                    left: 25%;
                }
            }
        }

        &-right {
            width: 50vw;
            height: 100vh;
            background-color: darken($color-dark, 3.5%);
            // background-color: #1d1f1f;
            position: fixed;
            // right: 0;
            right: -50vw;
            @include flexLayout;
            transition: right .8s cubic-bezier(1,0,0,1);

            @media(max-width: 800px){
                width: 100vw;
                right: -100vw;
            }
        }

        .nav-list {
            &-item{
                list-style: none;
            }

            &-link{
                font-family: $font-dancingScript;
                font-size: 50px;
                @include textStyles(capitalize);
                color: $color-secondary;
                text-decoration: none;

                //link is an in-line element therefore we cant use margin
                display: block;
                margin: 20px;
                text-align: center;
                transition: all .5s;

                &:hover{
                    color: $color-primary;
                    letter-spacing: 4px;

                }

                @media(max-width: 600px){
                    font-size: 40px;
                }
            }
        }
    }
}
//general sibling combinator
.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}