@import "../base";

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(../images/bg.jpeg) center no-repeat;
  background-size: cover;
}

.brand {
  @include flexLayout();

  font-family: $font-nunito;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);

  .logo {
    width: 110px;
    height: 110px;
    font-size: 70px;
    border: 3px solid $color-primary;
    border-radius: 50%;
    margin-right: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 110px;
      height: 110px;
    }
  }

  .main-name {
    @include textStyles();
    font-size: 50px;
    color: $color-secondary;
  }
  .sub-name {
    @include textStyles();
    text-align: center;
    font-size: 18px;
    color: $color-secondary;
  }
}

.header-banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .main-heading {
    font-family: $font-dancingScript;
    color: $color-primary;
    font-size: 80px;
    font-weight: 300;
    color: #d3ab55;
    margin-bottom: 40px;
  }
  .sub-heading {
    font-family: $font-josefinSans;
    font-weight: 300;
    color: $color-secondary;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
  }
  .main-btn {
    font-family: $font-josefinSans;
    color: $color-primary;
    width: 170px;
    height: 45px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    border: 1px solid $color-primary;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      color: $color-black;
      background-color: $color-primary;
    }
  }
}

@media (max-width: 500px) {
}

@media (max-width: 1000px) {
}
