@import "../base";

.logo {
  width: 110px;
  height: 110px;
  font-size: 70px;
  border: 3px solid $color-primary;
  border-radius: 50%;
  margin-right: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 110px;
    height: 110px;
  }
}

.main-name {
  @include textStyles();
  font-size: 50px;
  color: $color-secondary;
  font-family: $font-nunito;
}
.sub-name {
  @include textStyles();
  text-align: center;
  font-size: 18px;
  color: $color-secondary;
  font-family: $font-josefinSans;
}
