* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #333333; }

.image-wrapper img {
  width: 100%; }

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem; }
  .header__link {
    text-decoration: none;
    margin: 0.3rem 0.5rem;
    color: #fff;
    font-size: 0.7rem; }
  .header__logo {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 1.8rem;
    overflow: hidden; }
    .header__logo img {
      transform: scale(1.5); }

.hero-section {
  display: flex;
  justify-content: center; }

.hero {
  width: 95%;
  border-radius: 20px;
  background-color: #1c2238;
  padding: 1rem 2rem; }

@media (min-width: 40rem) {
  .hero {
    max-width: 25rem; } }

.search {
  display: flex;
  justify-content: center;
  padding: 2rem 0; }
  .search-bar {
    padding: 0.5rem 1rem;
    width: 95%;
    border-radius: 32px;
    border: none; }

@media (min-width: 40rem) {
  .search-bar {
    max-width: 30rem; } }
