* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
}

.cycles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cycle {
  background-color: rgb(245, 245, 245);
  padding: 1rem;
  border-radius: 8px;
  margin: 0.3rem;
}

.cycle__title {
  margin: 0;
  padding: 0;
}

.students {
  list-style: none;
  margin: 0;
  padding: 0;
}

.student {
  background-color: pink;
  margin: 0.2rem;
  display: flex;
}

.student__index {
  margin: 0.2rem;
  background-color: blue;
  color: white;
  padding: 0.2rem;
}

.student__name {
  margin: 0.2rem;
  background-color: green;
  color: white;
  padding: 0.2rem;
}
