/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#navbar ul.nav-items li a {
  padding: 0;
}

.text-primary {
  color: #f17e0a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f17e0a;
  color: #333;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  background: #f17e0a;
  color: #333;
}

.clr {
  clear: both;
}

.l-heading {
  font-size: 40px;
  line-height: 1.2;
}

/* Padding */
.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

/* Navbar */
#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar .logo {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #444;
  color: #f17e0a;
}

/* Showcase */
#showcase {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* Home Info */
#home-info {
  height: 450px;
  display: flex;
  flex-direction: column;
}

#home-info .info-content {
  float: right;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

/* Features */
#features {
  display: flex;
  flex-direction: column;
}

.box {
  float: left;
  width: 100%;
  padding: 50px;
  text-align: center;
}

.box i {
  margin-bottom: 10px;
}

/* Footer */
#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}

/* for pc */
@media (min-width: 40rem) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
  }

  .nav-items {
    flex-direction: row;
    justify-content: flex-end;
  }

  #navbar ul.nav-items li a {
    padding: 20px;
  }

  /* Home Info */
  #home-info {
    height: 450px;
    flex-direction: row;
  }

  #home-info .info-content {
    width: 50%;
  }

  #home-info .info-img {
    float: left;
    width: 50%;
    background: url("../img/photo-1.jpg") no-repeat center bottom/cover;
    min-height: 100%;
  }

  #features {
    flex-direction: row;
  }

  .box{
    width: 33.3%;
  }
}
