<%- include("_header") -%>

<h1>Login</h1>
<form action="/api/login" method="post">
  <input
    type="email"
    class="form-control"
    placeholder="Type your Email"
    name="email"
  />
  <input
    type="password"
    class="form-control"
    placeholder="Type your Password"
    name="password"
  />
  <input type="submit" value="Login" class="btn btn-success" />
</form>

<%- include("_footer") -%>
