.logo {
  width: 110px;
  height: 110px;
  font-size: 70px;
  border: 3px solid #d3ab55;
  border-radius: 50%;
  margin-right: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 110px;
  height: 110px;
}

.main-name {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 50px;
  color: #bbb;
  font-family: "Nunito", sans-serif;
}

.sub-name {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  color: #bbb;
  font-family: "Josefin Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #262626;
}

.navbar {
  position: relative;
  z-index: 20;
}
.navbar .hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;
}
.navbar .hamburger-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.5s;
  width: 100%;
  height: 100%;
}
.navbar .hamburger-menu .menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #d3ab55;
  transform-origin: right;
  transition: all 0.5s 0.5s;
}
.navbar-navigation {
  display: flex;
}
.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  left: -50vw;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}
@media (max-width: 800px) {
  .navbar-navigation-left {
    display: none;
  }
}
.navbar-navigation-left .left-img {
  width: 50%;
  position: absolute;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
  opacity: 0.7;
  border-radius: 10px;
}
@media (max-width: 1300px) {
  .navbar-navigation-left .left-img {
    width: 55%;
  }
}
@media (max-width: 1000px) {
  .navbar-navigation-left .left-img {
    width: 65%;
  }
}
.navbar-navigation-left .left-img-1 {
  top: 15%;
  left: 15%;
}
@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-1 {
    left: 5%;
  }
}
.navbar-navigation-left .left-img-2 {
  top: 35%;
  left: 25%;
}
@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-2 {
    left: 15%;
  }
}
.navbar-navigation-left .left-img-3 {
  top: 55%;
  left: 35%;
}
@media (max-width: 1000px) {
  .navbar-navigation-left .left-img-3 {
    left: 25%;
  }
}
.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: #1d1d1d;
  position: fixed;
  right: -50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}
@media (max-width: 800px) {
  .navbar-navigation-right {
    width: 100vw;
    right: -100vw;
  }
}
.navbar-navigation .nav-list-item {
  list-style: none;
}
.navbar-navigation .nav-list-link {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #bbb;
  text-decoration: none;
  display: block;
  margin: 20px;
  text-align: center;
  transition: all 0.5s;
}
.navbar-navigation .nav-list-link:hover {
  color: #d3ab55;
  letter-spacing: 4px;
}
@media (max-width: 600px) {
  .navbar-navigation .nav-list-link {
    font-size: 40px;
  }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
}

.main-btn {
  font-family: "Josefin Sans", sans-serif;
  color: #d3ab55;
  width: 170px;
  height: 45px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  border: 1px solid #d3ab55;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}
.main-btn:hover {
  color: #000;
  background-color: #d3ab55;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg) center no-repeat;
  background-size: cover;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-banner .main-heading {
  font-family: "Dancing Script", cursive;
  color: #d3ab55;
  font-size: 80px;
  font-weight: 300;
  color: #d3ab55;
  margin-bottom: 40px;
}
.header-banner .sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #bbb;
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.about-us {
  height: 90vh;
  display: flex;
  align-items: center;
}
.about-us .about-us-left {
  width: 40%;
  position: relative;
  left: 0px;
}
.about-us .about-us-left img {
  width: 100%;
  opacity: 0.7;
}
.about-us .about-us-left {
  position: relative;
  left: -150px;
}
.about-us .about-us-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}
.about-us .main-heading {
  color: #d3ab55;
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  font-weight: 300;
  color: #d3ab55;
  margin-bottom: 40px;
}
.about-us .sub-heading {
  color: #bbb;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  color: #bbb;
  margin-bottom: 30px;
  font-weight: 300;
  text-align: center;
}
.about-us .stars {
  color: #d3ab55;
  margin: 30px 0;
}
.about-us .description {
  color: #bbb;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-style: italic;
  text-align: justify;
}
.about-us .description::first-letter {
  padding-left: 50px;
}

.footer {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .footer-header {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.footer .footer-social-media .social-media {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 70px;
}
.footer .footer-social-media .social-media .social-media-link {
  text-decoration: none;
  font-size: 50px;
  color: #bbb;
  transition: color 0.7s;
}
.footer .footer-social-media .social-media .social-media-link:hover {
  color: #d3ab55;
}
.footer .footer-copyright .footer-copyright-paragraph {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #bbb;
}

.cards-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 25rem);
}
.cards-wrapper .card {
  position: relative;
  overflow: hidden;
}
.cards-wrapper .card:hover .card-overlay {
  left: 0;
}
.cards-wrapper .card-overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: -120%;
  right: 0;
  bottom: 0;
  z-index: 100;
  transition: 0.7s left;
  background-color: rgba(211, 171, 85, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cards-wrapper .card-overlay-heading {
  font-size: 3rem;
  color: #fff;
}
.cards-wrapper .card-overlay-paragraph {
  font-size: 1.5rem;
  color: #fff;
}
.cards-wrapper .card-overlay-btn {
  border-radius: 2rem;
  border: 0;
  padding: 0.5rem 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgba(211, 171, 85, 0.6);
  margin: 2rem 0;
}
.cards-wrapper .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

/*# sourceMappingURL=main.css.map */
